<!DOCTYPE html>
<html>
	<body>
		<h1>Create player</h1>

		<%= form_tag("/create_player", method: "post") do %>
		  <%= label_tag(:username, "Username:") %>
		  <br/>
		  <%= text_field_tag(:username) %>
		  <br/>
		  <%= submit_tag("Create Player") %>
		<% end %>
		
		<br/>
		<%= @error %>

	</body>
</html>
